.header .left {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 28px;
  z-index: 90;
}

.header .right {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
  z-index: 90;
}

.header i:hover {
  color: #89E0D3;
}

.header a {
  color: #fff;
  text-decoration: none;
}
