/* Special thanks to David Fuller (http://codepen.io/half-fuller) and @samarkandiy */

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

body {
  background-color: #333;
  color: #fff;
  font-family: 'Roboto', Arial;
  margin: 0;
}

.flex-grid-center {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: center;
}

.page-title {
	letter-spacing: 0.35em;
	font-size: 3vw;
	text-align: center;
	margin-bottom: 20px;
}

.glow-button {
	background: none;
	letter-spacing: 0.35em;
	font-size: 0.7em;
	-webkit-transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	-moz-transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	-o-transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	margin: 1em;
	flex-grow: 1;
	text-align: center;
}

.glow-button a {
	display: block;
	color: white;
	padding: 1.2em 5em;
	text-decoration: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
	min-width: 100px;
}

.glow-button.white a:hover {
	color: rgba(0, 0, 0, 0.8);
}

.glow-button.blue {
	-webkit-box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
	-moz-box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
	box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
	border: #0dd solid 2px;
}

.glow-button.blue:hover {
	background-color: #0dd;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
	-moz-box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
	box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
}

.glow-button.green {
	-webkit-box-shadow: inset 0 0 1em rgba(0, 255, 97, 0.5), 0 0 1em rgba(0, 255, 97, 0.5);
	-moz-box-shadow: inset 0 0 1em rgba(0, 255, 97, 0.5), 0 0 1em rgba(0, 255, 97, 0.5);
	box-shadow: inset 0 0 1em rgba(0, 255, 97, 0.5), 0 0 1em rgba(0, 255, 97, 0.5);
	border: #00FF61 solid 2px;
}

.glow-button.green:hover {
	background-color: #00FF61;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 255, 97, 0.5), 0 0 1.5em rgba(0, 255, 97, 0.7);
	-moz-box-shadow: inset 0 0 0 rgba(0, 255, 97, 0.5), 0 0 1.5em rgba(0, 255, 97, 0.7);
	box-shadow: inset 0 0 0 rgba(0, 255, 97, 0.5), 0 0 1.5em rgba(0, 255, 97, 0.7);
}

.glow-button.white {
	-webkit-box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
	border: #fff solid 2px;
}

.glow-button.white:hover {
	color: rgba(0, 0, 0, 0.8);
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
}

.rate-list {
  display:block;
  list-style-type: square;
  font-size: 20px;
  padding: 10px;
}

.rate-list td {
  padding: 10px 20px;
}

.typing-body {
	animation: type 2s steps(60, end);
	width:100%;
	overflow: hidden;
}

.typing-body pre {
	color: #00FF61;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.typing-body a {
	color: #00FFFF;
	*width: 100%;
}

.typing-body span{
  animation: blink 1s infinite;
  display: inline-block;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

/* Foreground sections */
.fore-panel {
  padding: 5vw;
  font-family: 'Share Tech Mono', Arial;
  z-index: 2;
  -webkit-box-shadow: inset 0 -1.5em 3em -3em rgba(255, 255, 255, 0.3), 0 0 1.5em rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 -1.5em 3em -3em rgba(255, 255, 255, 0.3), 0 0 1.5em rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 -1.5em 3em -3em rgba(255, 255, 255, 0.3), 0 0 1.5em rgba(0, 0, 0, 0.7);
}

/* Colors */

.panelA {
  background-color: #222;
  min-height: 30vw;
  overflow: hidden;
  position: relative;
}

.panel1 {
  background-color: #222;
}

.panel2 {
  background-color: #222;
}

.panel3 {
  background-color: #222;
}
/* FIXED BACKGROUND IMAGES */

.fixedBG {
  height: 200px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

.bio {
  font-size: 25px;
  margin-bottom: 30px;
}

.bio-image img {
  z-index: 3;
  position: absolute;
  top: -25px;
  right: -6vw;
  height: 45vw;
  opacity: 0.1;
}

.prj-list {
	text-align: center;
}

.prj-list a {
	text-decoration: none;
	color: #fff;
  margin: 20px;
}

.prj-list a:hover {
	text-decoration: underline;
}

.prj-list .prj-title{
	margin: 2vw 5vw;
	font-size: 18px;
	width: 17vw;
}

.prj-list img {
  width: 15vw;
}

.icn-list {
 font-size: 7.5vw;
 margin: 6vw 5vw 0;
}

.icn-list i {
  margin: 2vw 5vw;
}

/* Images */

.fixedBG.bg1 {
  background-image: url("../images/Random-code-Pic-GettyJPG.jpg");
}

.fixedBG.bg2 {
  background-image: url("../images/random-wallpapers-blue-matrix-background-wallpaper-30591.jpeg");
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
